*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.52),rgb(129, 129, 174) , rgba(53, 90, 194, 0.487)), url(loginbackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    background-color: #ffffffe5;
    padding: 50px 60px 70px;
    text-align: center;
} 

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #260261;
    position: relative;
}

.input-field{
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height:65px ;
    transition:max-height 0.5s;
    overflow:hidden;
 }

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #a1a1a1;;
}

form p{
    text-align: left;
    font-size: 13px;
}
font p a{
    text-decoration: none;
    color: #3c003a;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height:40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 2s;
}


.input-group{
    height: 280px;
}

.btn-field button.disable{
    background-color: #eaeaea;
    color: #555;
}

.submit
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit button{
    flex-basis: 48%;
    background: #3e2dde;
    color: #fff;
    height:40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    align-items: center;
    margin-top: 19px;
    margin-left: 70px;
    transition: background 1s;
}